* {
	font-family: Avenir;
}

h1 {
	font-size: 30px;
	margin-bottom: 0;
}

h3 {
	font-size: 25px;
}

body {
	background-color: #1b1919;
}

.box {
	width: 800px;
	height: 440px;
	position: absolute;
	left: 50%;
  margin-left: -400px;
	top: 50%;
	margin-top: -250px;
	background-color: #e7ddc5;
	padding: 30px;
	padding-left: 50px;
	padding-right: 50px;
}

.welcome h1 {
	margin-top: 0;
	font-size: 80px;
	margin-bottom: 0;
	color: #F26522;
}

.welcome h2 {
	font-size: 30px;
}

#toptitle {
	color: #da9815;
}

#bottomtitle {
	color: #009384;
}

#stepone {color: #da9815;}

#steptwo {color:#F26522;}

#stepthree {color: #009384;}

#stepfour {color: #5B57A6;}

.step-instructions {
	margin-top: 0;
	display: inline-block;
	vertical-align: middle;
	width: 40%;
	padding-right: 30px;
}

.step-pic {
	border: 1px solid black;
	display: inline-block;
	vertical-align: middle;
	width: 55%;
}

.step-pic img {
	width: 100%;
	float: right;
}

button {
	margin-left: 30px;
	width: 150px;
	height: 50px;
	background: #1b1919;
	color: white;
	border: 0;
	font-size: 25px;
}

.back {
	position: absolute;
	left: 20px;
	bottom: 40px;
}

.next {
	position: absolute;
	right: 50px;
	bottom: 40px;
}

#leggo button {
	width: 200px;
	height: 50px;
	font-size: 20px;
	background-color: #5B57A6;
}

#red button{
	background-color:#F26522;
}

#yellow button{
	background-color: #da9815;
}

#green button {
	background-color: #009384;
}

#purple button {
	background-color: #5B57A6;
}

#leggo button:hover, #red button:hover, #yellow button:hover, #green button:hover, #purple button:hover{
	background-color: #1b1919;
}